VITE_FIREBASE_API_KEY=AIzaSyDfcUdtPaxehphkY16Qr8ASbKcf2noIdyQ
VITE_FIREBASE_AUTH_DOMAIN=se-healthsync.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=se-healthsync
VITE_FIREBASE_STORAGE_BUCKET=se-healthsync.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1072343025227
VITE_FIREBASE_APP_ID=1:1072343025227:web:d2eba4626dad92fc12efce
VITE_API_BASE_URL=http://127.0.0.1:8000
