FIREBASE_PROJECT_ID=se-healthsync
FIREBASE_STORAGE_BUCKET=se-healthsync.appspot.com
GOOGLE_APPLICATION_CREDENTIALS=security/se-healthsync-firebase-adminsdk-fbsvc-4427c95604.json
ENVIRONMENT=dev
LOG_LEVEL=INFO
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://[::1]:5173
