fastapi
uvicorn[standard]
slowapi
firebase-admin
python-dotenv
pydantic
pydantic-settings
python-multipart
email-validator
pytest
pytest-mock
pytest-cov
pytest-json-report
httpx
numpy
requests
Pillow
pandas
onnxruntime
